@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #444444;
	font-weight: 300;
}
header{
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.65);
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	padding: 20px 0px; 
}
header h1{
	font-size: 18px;
}

#hero{
	background-image: url("../img/v9-slide-1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #FFFFFF;
	padding: 12% 0;
		text-align: center;
}
#hero h1{
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 6px;
	margin-bottom: 40px;
}
#hero h3{
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 30px;
}
#hero .btn-dark{
	background-color: #000;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px 30px;
	border-radius: 0;
	border: 0;
	margin-right: 40px;
	letter-spacing: 2px;
}
#hero .btn-dark:hover,
#hero .btn-active{
	background-color: #D80808;

}
#hero .btn-active:hover{
	background-color: #000;
	
}

#info{
	padding: 100px 0px;
	text-align: center;
}
#info h3{
	margin-bottom: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #222;
	font-size: 17px;
}
#info .col-md-3{
	padding: 0px 20px;
}
#info p{
	font-weight: 100;
	font-size: 17px;
	line-height: 30px;
	color: #444;
}
.titulo{
	font-size: 36px;
	text-align: center;
	letter-spacing: 2px;
	color: #2d2d2d;
	font-weight: 300;
}
.titulo::after{
	content: '';
	border: 1px solid #2d2d2d;
	display: block;
	width: 50px;
	margin: 30px auto
}
.subtitulo{
	font-size: 24px;
	color: #444;
	font-weight: 300;
	margin-bottom: 30px;
}
.bg-gris{
	background-color: #F2F2F2;
	padding: 5%!important;
}
.btn-negro{
	background-color: transparent;
	border: 1px solid #000;
	padding: 10px 20px;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 13px;
}
.btn-negro:hover{
	background-color: #d80808;
	color: #fff;
	border-color: #d80808;
}
#about .titulo,
#about2 .titulo{
	text-align: left;
	margin-bottom: 20px;
}
#about .titulo::after,
#about2 .titulo::after{
	display: none;
}
#projects{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f2f2f2;
}
#about2 .bg-gris{
	background-color: #fff;
}
.project{
	position: relative;
	overflow: hidden;
}
.project-info{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	display: grid;
	align-content: center;
	color: #fff;
	background-color: rgba(215,0,3,0.75);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.project-info h4{
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}
.project:hover .project-info{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.project:hover img{
	transform: scale(1.3);
	transition: all 0.3s ease-in-out;
}
.project img{
	transition: all 0.3s ease-in-out;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.60);
	top: 0;
}
.project-icon{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	padding: 5px;
}
.project-icon h4{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
.img-gris:hover img{
	filter: grayscale(1);
}
.rojo{
	position: absolute;
	width: 100%;
	height: 30%;
	background-color: rgba(156,4,6,0.87);
	bottom: 0;
}
.rojo h3{
	text-align: center;
	padding-top: 25px;
	color: #fff;
	font-weight: 300;
}
.azul{
	background-color: rgba(2,6,165,0.78)
}
#info-footer{
	background-color: #3d3f3e;
	color: #a2a2a2;
	padding: 20px 0;
	font-size: 13px;
}
#info-footer h4{
	font-size: 14px;
	text-transform: uppercase;
	color: #dfdfdf;
	margin-bottom: 25px;
}
.redes i{
	background-color: #464646;
	color: #fff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}
.redes i:hover{
	background-color: #d80808;
	transition: all 0.3s ease-in-out;
}
#copyright{
	background-color: #2c2e2e;
	color: #888;
	padding: 10px 0px;
	font-size: 12px;
}
#copyright a{
	color: #888;
}
#copyright{
	color: #fff;
}
#hero-contact{
	background-image: url("../img/bg-contact.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 60vh;
}
.section{
	padding: 60px 0;
}
.icon-up{
	position: relative;
	background-color: #f2f4f8;
	height: 200px;
	overflow: hidden;
}

.icono{
	display: grid;
	align-content: center;
	text-align: center;
	color: #d80808;
	font-size: 40px;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transition: all 0.3s ease-in;
}
.texto{
	display: grid;
	align-content: center;
	text-align: center;
	position: absolute;
	opacity: 0;
	width: 100%;
	height:100%;
	top: 100%;
	transition: all 0.3s ease-in;
}
.icon-up:hover .icono{
	opacity: 0;
	transition: all 0.3s ease-in;
	top: -100%;
}
.icon-up:hover.texto{
	opacity: 1;
	top: 0;
	transition: all 0.3s ease-in;
}
#map{
	width: 100%;
	height: 400px;
}
.form-control{
	background-color: #f2f4f8;
	border-radius: 0;
	border: 0;
}

